<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<nav id="menu" class="navbar navbar-nav border rounded">
				<a role="button" href="#/biblio"><span class="text-left">Ma Biblio</span></a> <!--ng-show="user != 'Invité'"-->
				<div class="btn-group-vertical">
					<button class="btn btn-success" type="button" (click)="initMode('ajout', 'ouvrages')">Ajouter un ouvrage</button>
					<button class="btn btn-success" (click)="initMode('ajout', 'series')">Ajouter une série</button>
					<button class="btn btn-success" (click)="initMode('consult', null);">Consulter</button>
				</div>
				<a role="button" href="#/biblio"><span class="text-left">Biblio Comp</span></a>
				<div>
					<button class="btn btn-secondary">Consulter</button>
				</div>
			</nav>
		</div>

		<div class="col-10 col-md-7 nopadding">
			<div [ngSwitch]="mode">
				<app-ajout-ouvrage-serie *ngSwitchCase="'ajout'" [(item)]="item" [colItem]="colItem" [genres]="genres">
				</app-ajout-ouvrage-serie> <!--on-submit="submit(colItem)"-->

				<app-selection-ouvrage-serie *ngSwitchCase="'selection'" [(item)]="item" [colItem]="colItem" [genres]="genres">
				</app-selection-ouvrage-serie> <!--on-modifier="modifierOuvrage()"-->

				<app-consult-ouvrage-serie *ngSwitchCase="'consult' || 'selection'" [titre]="'Mes Ouvrages'" [series]="series" [ouvrages]="ouvrages">
				</app-consult-ouvrage-serie> <!--on-selection="detailOuvrage"-->
				
				<div *ngSwitchDefault></div>
			</div>
		</div>
			
		<div class="d-none d-md-block col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Derniers Ajouts</h3></div>
				
				<div class="panel-body">
					<ul class="list-unstyled">
						<li *ngFor="let o of ouvrages; let i = index"><app-ouvrages *ngIf="i <= 3" [(ngModel)]="o" name="affiche" ngDefaultControl></app-ouvrages></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
