<div *ngIf="!connecte; else loggedIn">
	<button type="button" class="btn btn-primary" (click)="template_selected = 'inscription'">Inscription</button>
	<button type="button" class="btn btn-success" (click)="template_selected = 'connexion'">Connexion</button>

	<div [ngSwitch]="template_selected">
		<app-membres-inscription *ngSwitchCase="'inscription'" [(utilisateur)]="utilisateur" ngDefaultControl></app-membres-inscription>
		<app-membres-connexion *ngSwitchCase="'connexion'" [(utilisateur)]="utilisateur" (connecte)="onConnecte($event)" ngDefaultControl></app-membres-connexion>
		<div *ngSwitchDefault>Pas de template</div>
	</div>
</div>

<ng-template #loggedIn>
	<app-membres-profile [(ngModel)]="utilisateur"></app-membres-profile>
</ng-template>