<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/accueil">Accueil</a>
        <a class="navbar-brand" routerLink="/biblio">Biblioth&egrave;que</a>
        <a class="navbar-brand" routerLink="/forum">Forum</a>
        <a class="navbar-brand" routerLink="/membres">Membres</a>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
