<div>
	<mat-form-field class="full-width">
			<input matInput name="nom" type="text" placeholder="Mot-cl&eacute;" [formControl]="nom" />
			<fa-icon matPrefix [icon]="faTags" class="prefix-padding"></fa-icon>
			<button matSuffix mat-raised-button color="accent" type="button" [disabled]="!nom.valid" (click)="sauve()"><fa-icon [icon]="faPlus"></fa-icon></button>
	</mat-form-field>
	
	<mat-chip-list #chipList class="full-width" aria-label="Tags">
	    <mat-chip
			*ngFor="let t of tags; let i = index"
			(removed)="supprimer(i)"
			color="accent" selected>
			{{t.nom}}
			<fa-icon matChipRemove [icon]="faTimesCircle"></fa-icon>
	    </mat-chip>
	</mat-chip-list>
</div>
