<div>
	<mat-form-field class="full-width">
		<input matInput name="prenoms_nom" type="text" placeholder="Auteurs : Pr&eacute;nom(s) Nom" [formControl]="prenoms_nom"><!-- [(ngModel)]="prenoms_nom"-->
		<fa-icon matPrefix [icon]="faPenNib" class="prefix-padding"></fa-icon>
		<button matSuffix mat-raised-button color="primary" type="button" [disabled]="!prenoms_nom.valid" (click)="sauve()"><fa-icon [icon]="faPlus"></fa-icon></button>
	</mat-form-field>

	<mat-chip-list #chipList class="full-width" aria-label="Auteurs">
	    <mat-chip
			*ngFor="let a of auteurs; let i = index"
			(removed)="supprimer(i)"
			color="primary" selected>
			{{a.PrenomsNom()}}
			<fa-icon matChipRemove [icon]="faTimesCircle"></fa-icon>
	    </mat-chip>
	</mat-chip-list>
</div>