<div class="container-fluid" ng-init="action = 'Consult';">
	<div class="row">
		<div class="col-md-1">
			<nav class="navbar navbar-nav">
				<a role="button" href="#/biblio">Ma Biblio</a>
				<ul class="nav nav-pills nav-stacked">
					<li role="presentation"><a href="#/biblio" ng-click="initAjout('Ouvrages')">Ajouter un ouvrage</a>
					<li role="presentation"><a href="#/biblio" ng-click="initAjout('Series')">Ajouter une série</a>
					<li role="presentation"><a href="#/biblio" ng-click="action = 'Consult';">Consulter</a></li>
				</ul>
				
				<a role="button" href="#/biblio">Biblio Comp</a>
			</nav>
		</div>

		<div class="col-md-8 nopadding">
			<ajout-o-s ng-show="action == 'Ajout'" item="itemToAdd" col-item="colItem" genres="genres" on-submit="submit(colItem)">
				
			</ajout-o-s>
			
			<selection-ouvrage ng-show="action == 'Selection'" item="item" genres="genres" on-modifier="modifierOuvrage()" col-item="colItem">
			
			</selection-ouvrage>
			
			<consult-ouvrages ng-show="action == 'Consult' || action == 'Selection'" 
				titre="'Mes Ouvrages'" series="series" ouvrages="ouvrages" on-selection="detailOuvrage">
				
			</consult-ouvrages>
		</div>
			
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Derniers Ajouts</h3></div>
				
				<div class="panel-body">
					<ul class="list-unstyled">
						<li ng-repeat="item in ouvrages" ng-if="$index <= 3"><affiche-ouvrage ouvrage="item" on-click="detailOuvrage(item)"></affiche-ouvrage></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
