<!-- contenu pour un utilisateur -->
<div class="container" ng-if="utilisateur !== null">
	<!-- Bloc utilisateur -->
	<div class="container">
		<img ng-href="utilisateur.Image" />
		<span>{{utilisateur.Pseudo}}</span>
	</div>
	
	<!-- Bloc critiques -->
	<div>
		<title>Critiques</title>
		<ul>
			<li>Critique 1</li>
			<li>Critique 2</li>
			<li>Critique 3</li>
		</ul>
	</div>
	
	<!-- Bloc recommandations -->
	<div>
		<title>Recommandations</title>
		<ul>
			<li>Reco 1</li>
			<li>Reco 2</li>
			<li>Reco 3</li>
		</ul>
	</div>
	
	<!-- Modification de l'image -->
	<div>
		<title>Modification d'image</title>
		<label>Chemin d'accès :</label>
		<input type="text" ng-model="utilisateur.Image" />
		
		<button>Valider</button>
	</div>
	
	<!-- Modification du mot de passe -->
	<div>
		<title>Changement de mot de passe</title>
		
		<label>Nouveau mot de passe :</label>
		<input type="text" />
		<label>Vérification du nouveau mot de passe :</label>
		<input type="text" />
		
		<button>Valider</button>
	</div>
	
	<!-- Modification de la signature pour le forum -->
	<div>
		<label>Signature :</label>
		<input type="text" />
		
		<button>Valider</button>
	</div>
	
	<!-- Bloc ajout récent -->
	<div>
		<title>Derniers ajouts</title>
		
		<ul>
			<li>Livre 1</li>
			<li>BD 1</li>
			<li>Mag 1</li>
		</ul>
	</div>
	
	<!-- Bloc wish list -->
	<div>
		<title>Liste de souhaits</title>
		
		<ul>
			<li>Ouvrage 1</li>
			<li>Ouvrage 2</li>
		</ul>
	</div>
</div>