<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12" ng-show='!showProfil'>
			<p>
				Bienvenue dans la section membres !<br />
				<br />
				Dans cette section, vous pouvez modifier les informations de votre profil et gérer vos recommandations.<br />
				Pour y avoir accès, vous devez être inscrit au préalable, l'inscription est gratuite et ne prends que quelques minutes. <br />
				<br />
			</p>
			
			<button ng-click="toggleInscription()">S'inscrire</button>
			<button ng-click="toggleConnection()">S'identifier</button>
		</div>

		<div class="col-xs-12 col-md-12" ng-show='!showProfil'>
			<inscription ng-show='showInscription' close="toggleInscription()">
				
			</inscription>

			<connection ng-show='showConnection' close="toggleConnection()" on-connect="toggleProfil()">

			</connection>
		</div>

		<div class="col-xs-12 col-md-12" ng-show='showProfil'>
			<membres-authentifie>
				
			</membres-authentifie>
		</div>
	</div>
</div>