<!-- contenu pour un visiteur -->
<div class="container">
	<p>
		Bienvenue dans la section membres !<br />
		<br />
		Dans cette section, vous pouvez modifier les informations de votre profil et gérer vos recommandations.<br />
		Pour y avoir accès, vous devez être inscrit au préalable, l'inscription est gratuite et ne prends que quelques minutes. <br />
		<br />
	</p>
	
	<button ng-click="toggleInscription()">S'inscrire</button>
	<button ng-click="toggleConnection()">S'identifier</button>
</div>

<div class="container">
	<inscription ng-show='showInscription' utilisateur="utilisateur" close="toggleInscription()">
		
	</inscription>

	<connection ng-show='showConnection' utilisateur="utilisateur" close="toggleConnection()">

	</connection>
</div>