<div id="InfosGenerales" style="border:solid black 1px; text-align:center; width:500px;">
	<p>Titre : {{Exemple Titre}}</p>
	<p>Auteur : {{Exemple Auteur}}</p>
</div>

<!-- Seulement si possédé -->
<div id="ListExemplaires" style="border:solid black 1px; text-align:center; width:500px;">
	<!-- pagination d'un exemplaire par bloc (avec flèches précédents et suivants) -->
	<!-- Template exemplaire -->
	<p><img href="ExempleCover.jpg"></img></p>
	<p>Editeur : {{Exemple Editeur}}</p>
	<p>[Exemple Note]</p>
</div>

<!-- affichage par clic sinon caché -->
<div id="InfosComplementaires" style="border:solid black 1px; text-align:center; width:500px;">
	<p> -- Infos compl&eacute;mentaires -- </p>
</div>