<!--
	Recherche d'une oeuvre :
	- recherche standard : par titre, par auteur, par date de sortie, par type
	- recherche avancée : par série, par genre, par tag, lu ou non, possédé ou non
-->

<div style="">
	<div id="RechercheStandard">
		<p>Titre : {{Exemple Titre}}</p>
		<p>Auteur : {{Exemple Auteur}}</p>
		<p>Type : {{Exemple Type}}</p>
		<p>Date de sortie : {{Exemple de date de sortie}}</p>
	</div>
	
	<p> -- Recherche avancée -- </p>
	
	<div id="RechercheAvancee">
		<p>Titre de la série : {{Exemple Titre}}</p>
		<p>Genre : {{Exemple Genre}}</p>
		<p>Tag : {{Exemple Tag}}</p>
		<p><checkbox>Poss&eacute;d&eacute;</checkbox></p>
		<p><checkbox>Lu</checkbox></p>
	</div>
</div>
