<div class="container-fluid nopadding row">
	<div class="col-12 col-md-12 nopadding">
		<div class="card">
			<div class="card-heading"><h3>Ajouter un ouvrage</h3></div>
			
			<div class="card-body row">
				<form (ngSubmit)="onSubmit()" #osForm="ngForm">
					<!-- TODO : Ajouter un champ avec le nom de la série si elle existe et 
								le numéro de volume ou la possiblité de pouvoir ajouter 	-->
					
					<div class="row no-gutters">
						<div class="col-4">
					    	<!-- Couverture pour les ouvrages -->
							<div class="col-12" *ngIf="colItem == 'ouvrages'">	
								<img [src]="item.couverture" width="100px" height="150px" /><!--*ngIf="img !== 'images\\couvertures\\Default.png'"-->
							</div>
							<div class="col-12 form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<a class="btn btn-success" (click)="uploadCouverture()">
											<fa-icon [icon]="faUpload" style="color:#fff;"></fa-icon>
										</a>
									</div>
									<div class="custom-file">
										<input name="couverture" type="file" ng2FileSelect [uploader]="uploader" (change)="changeCouverture()" class="custom-file-input" /> <!--file-model="fileSelected"-->
										<label class="custom-file-label" for="couverture">{{ img }}</label>
									</div>
								</div>
							</div>
					    </div>
					    <div class="col-8">
							<div class="form-group">
								<label for="titre" class="sr-only">Titre :</label>
								<input type="text" name="titre" class="form-control" [(ngModel)]="item.titre" placeholder="Titre de l'ouvrage" />
								<!--(change)="filtrerItemsExistants()"-->
							</div>
							
							<div class="form-group">
								<app-auteurs [(ngModel)]="item.auteurs" name="auteurs" ngDefaultControl></app-auteurs>
							</div>

							<div class="form-group">
								<app-tags [(ngModel)]="item.tags" name="tags" ngDefaultControl></app-tags>
							</div>
						</div>
					</div>
					
					<!--<div class="col-xs-12 nopadding">-->
						<!-- Nombre de volumes avec la liste pour les séries -->
						<!--<div class="form-group col-4 nopadding" *ngIf="colItem == 'Series'">
							<volume-serie mode="'Ajout'" titre-serie="item.Titre" nb-volumes="item.NbVolumes" list-volumes="item.Volumes">
							
							</volume-serie>
						</div>
					</div>-->
					<div class="row no-gutters">
						<!-- Template de liste de Sous genre -->
						<div class="btn-group-vertical col-2">
							<button *ngFor="let g of genres" type="button" class="btn btn-warning" (click)="genre_selected = g.code"><fa-icon [icon]="genreIcon(g)"></fa-icon><!--<span> {{g.libelle}}</span>--></button>
						</div>
						<div class="col-10 d-flex flex-column justify-content-center border border-warning">
							<div *ngIf="genre_selected == ''; else withGenre">
								<p class="text-center">Sélectionner le type d'ouvrage dont il s'agit.</p>
							</div>
							<ng-template #withGenre>
								<div *ngFor="let g of genres">
									<select *ngIf="g.code === genre_selected" name="sous_genre" [(ngModel)]="item.sous_genre">
										<option *ngFor="let sg of g.sous_genres" [ngValue]="sg">{{sg.libelle}}</option>
									</select>
								</div>
								<div *ngIf="genre_selected == 'LI'">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Date de sortie</span>
										</div>
										<!--<label for="text_dds" class="sr-only">Date de sortie :</label>-->
										<input type="date" name="text_dds" class="form-control" [(ngModel)]="item.date_sortie" placeholder="Date de sortie" />
									</div>
								</div>
								<div *ngIf="genre_selected == 'DE'">
									<div class="form-group">
										<div class="form-group">
											<label>Dessinateur :</label>
											<select class="form-control" [disabled]="item.auteurs.length <= 1" name="dessinateur" [(ngModel)]="item.dessinateur">
												<!-- TODO: Ajouter une phrase indiquant d'ajouter des auteurs -->
												<option *ngFor="let a of item.auteurs" [ngValue]="a.id">{{a.prenom_nom}}</option>
											</select>
										</div>
										<div class="form-group">
											<label>Scenariste :</label>
											<select class="form-control" [disabled]="item.auteurs.length <= 1" name="scenariste" [(ngModel)]="item.scenariste">
												<!-- TODO: Ajouter une phrase indiquant d'ajouter des auteurs -->
												<option *ngFor="let a of item.auteurs" [ngValue]="a">{{a.prenom_nom}}</option>
											</select>
										</div>
									</div>
								</div>
								<div *ngIf="genre_selected == 'AB'">
									<div class="form-group">
										<label>Date de debut :</label>
										<input type="text" name="text_ddd" class="form-control" [(ngModel)]="item.date_debut" />
									</div>
									<div class="form-group">
										<label>Frequence de parution :</label>
										<input type="text" name="text_freq" class="form-control" [(ngModel)]="item.frequence_parution" />
									</div>
									<div class="form-group">
										<label>
											Toujours en parution : <input type="checkbox" name="enparution" [(ngModel)]="item.enparution" />
										</label>
									</div>
								</div>
								<div *ngIf="genre_selected == 'CO'">
								
								</div>
							</ng-template>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-12">
						<app-editions [editMode]="true" [(editions)]="item.editions" (sauve)="onSauve($event)" ngDefaultControl></app-editions>
					</div>
				</form>
			</div>
			
			<div class="panel-footer">
				<button class="form-control btn btn-secondary" name="btn_soumettre" (click)="submit()">Soumettre</button>
			</div>
		</div>
	</div>

	<div class="col-4 col-md-4">
		<div class="panel panel-default" *ngIf="items_proposes.length > 0">
			<div class="panel-heading"><label>Ouvrages deja existants</label></div>
			
			<div class="panel-body">
				<ul class="list-unstyled">
					<li *ngFor="let op of items_proposes" class="input-group col-md-12">
						<span class="input-group-btn">
							<!-- Template ouvrage -->
							<!--<affiche-ouvrage ouvrage="op" on-click="dejaExistant(op)"></affiche-ouvrage>-->
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>