<div class="container-fluid nopadding row">
	<div class="col-12 col-md-12 nopadding">
		<div class="card">
			<div class="card-heading"><h3>Ajouter un ouvrage</h3></div>
			
			<div class="card-body row">
				<form (ngSubmit)="onSubmit()" #osForm="ngForm">
					<!-- TODO : Ajouter un champ avec le nom de la série si elle existe et 
								le numéro de volume ou la possiblité de pouvoir ajouter 	-->
					
					<div class="row no-gutters">
						<div class="col-4">
					    	<!-- Couverture pour les ouvrages -->
							<div class="col-12" *ngIf="colItem == 'ouvrages'">	
								<img [src]="item.couverture" width="100px" height="150px" /><!--*ngIf="img !== 'images\\couvertures\\Default.png'"-->
							</div>
							<div class="col-12 form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<button mat-raised-button color="accent" (click)="uploadCouverture()">
											<fa-icon [icon]="faUpload"></fa-icon>
										</button>
									</div>
									<div class="custom-file">
										<input name="couverture" type="file" ng2FileSelect [uploader]="uploader" (change)="changeCouverture()" class="custom-file-input" /> <!--file-model="fileSelected"-->
										<label class="custom-file-label" for="couverture">{{ img }}</label>
									</div>
								</div>
							</div>
					    </div>
					    <div class="col-8">
							<mat-form-field class="full-width">
							    <input matInput type="text" name="titre1" placeholder="Titre" [(ngModel)]="item.titre">
							    <fa-icon matPrefix [icon]="faQuoteLeft" class="prefix-padding"></fa-icon>
							    <fa-icon matSuffix [icon]="faQuoteRight"></fa-icon>
							</mat-form-field>
							
							<app-auteurs [(auteurs)]="item.auteurs" name="auteurs" ngDefaultControl></app-auteurs>

							<app-tags [(tags)]="item.tags" name="tags" ngDefaultControl></app-tags>
						</div>
					</div>
					
					<!--<div class="col-xs-12 nopadding">-->
						<!-- Nombre de volumes avec la liste pour les séries -->
						<!--<div class="form-group col-4 nopadding" *ngIf="colItem == 'Series'">
							<volume-serie mode="'Ajout'" titre-serie="item.Titre" nb-volumes="item.NbVolumes" list-volumes="item.Volumes">
							
							</volume-serie>
						</div>
					</div>-->
					<div class="row no-gutters">
						<!-- Template de liste de Sous genre -->
						<mat-button-toggle-group class="col-2" color="accent" vertical="true" #genre_selected="matButtonToggleGroup" (change)="changerGenre(genre_selected.value)">
							<mat-button-toggle *ngFor="let g of genres" [value]="g.code" [matTooltip]="g.libelle" matTooltipPosition="left" matTooltipShowDelay="500" [aria-label]="g.libelle"><!--[class.active]="g.code === genre_selected"-->
								<fa-icon [icon]="genreIcon(g)"></fa-icon><!--<span> {{g.libelle}}</span>-->
							</mat-button-toggle>
						</mat-button-toggle-group>
						<div class="col-10 d-flex flex-column justify-content-center border border-warning">
							<div *ngIf="genre_selected.value === undefined; else withGenre">
								<p class="text-center">Sélectionner le type d'ouvrage dont il s'agit.</p>
							</div>
							<ng-template #withGenre>
								<div *ngFor="let g of genres">
									<mat-form-field *ngIf="g.code === genre_selected.value" class="full-width">
										<mat-label>S&eacute;lection du genre</mat-label>
										<mat-select matInput name="sous_genre" [(ngModel)]="item.sous_genre">
											<mat-option *ngFor="let sg of g.sous_genres" [value]="sg">{{sg.libelle}}</mat-option>
										</mat-select>
										<mat-hint>Requis</mat-hint>
									</mat-form-field>
								</div>
								<div [ngSwitch]="genre_selected.value">
									<mat-form-field *ngSwitchCase="'LI'" class="full-width">
									  	<input matInput [matDatepicker]="picker_ds" placeholder="Date de sortie" [value]="item.date_sortie">
									  	<mat-datepicker-toggle matSuffix [for]="picker_ds"></mat-datepicker-toggle>
									  	<mat-datepicker #picker_ds></mat-datepicker>
									</mat-form-field>

									<div *ngSwitchCase="'DE'">
										<mat-form-field class="full-width">
											<mat-label>Dessinateur</mat-label>
											<mat-select matInput [disabled]="item.auteurs.length <= 1" name="dessinateur" [(ngModel)]="item.dessinateur">
												<!-- TODO: Ajouter une phrase indiquant d'ajouter des auteurs -->
												<mat-option *ngFor="let a of item.auteurs" [value]="a">{{a.PrenomsNom()}}</mat-option>
											</mat-select>
										</mat-form-field>
										<mat-form-field class="full-width">
											<mat-label>Sc&eacute;nariste</mat-label>
											<mat-select matInput [disabled]="item.auteurs.length <= 1" name="scenariste" [(ngModel)]="item.scenariste">
												<!-- TODO: Ajouter une phrase indiquant d'ajouter des auteurs -->
												<mat-option *ngFor="let a of item.auteurs" [value]="a">{{a.PrenomsNom()}}</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div *ngSwitchCase="'AB'">
										<mat-form-field class="full-width">
										  	<input matInput [matDatepicker]="picker_dp" placeholder="D&eacute;but publication" [value]="item.date_debut">
										  	<mat-datepicker-toggle matSuffix [for]="picker_dp"></mat-datepicker-toggle>
										  	<mat-datepicker #picker_dp></mat-datepicker>
										</mat-form-field>

										<div>
											<mat-form-field class="full-width">
												<mat-label>Fr&eacute;quence de parution</mat-label>
												<mat-select matInput name="frequence_parution" [(ngModel)]="item.frequence_parution">->
													<mat-option [value]="FrequenceParution.Quotidien">{{FrequenceParution.Quotidien}}</mat-option>
													<mat-option [value]="FrequenceParution.Hebdomadaire">{{FrequenceParution.Hebdomadaire}}</mat-option>
													<mat-option [value]="FrequenceParution.Mensuel">{{FrequenceParution.Mensuel}}</mat-option>
													<mat-option [value]="FrequenceParution.Trimenstriel">{{FrequenceParution.Trimenstriel}}</mat-option>
													<mat-option [value]="FrequenceParution.Annuel">{{FrequenceParution.Annuel}}</mat-option>
													<mat-option [value]="FrequenceParution.Autre">{{FrequenceParution.Autre}} : </mat-option>
												</mat-select>
											</mat-form-field>
											<input *ngIf="item.frequence_parution == FrequenceParution.Autre" class="full-width" type="text" name="fp_autre" [(ngModel)]="fp_autre">
										</div>
										<div>
											<mat-checkbox type="checkbox" name="enparution" [(ngModel)]="item.enparution">Toujours en parution</mat-checkbox>
										</div>
									</div>

									<div *ngSwitchCase="'CO'">
								
									</div>
								</div>
								
								
								
							</ng-template>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-12">
						<app-editions [editMode]="true" [(editions)]="item.editions" (sauve)="onSauve($event)" ngDefaultControl></app-editions>
					</div>
				</form>
			</div>
			
			<div class="panel-footer">
				<button class="form-control btn btn-secondary" name="btn_soumettre" (click)="submit()">Soumettre</button>
			</div>
		</div>
	</div>

	<div class="col-4 col-md-4">
		<div class="panel panel-default" *ngIf="items_proposes.length > 0">
			<div class="panel-heading"><label>Ouvrages deja existants</label></div>
			
			<div class="panel-body">
				<ul class="list-unstyled">
					<li *ngFor="let op of items_proposes" class="input-group col-md-12">
						<span class="input-group-btn">
							<!-- Template ouvrage -->
							<!--<affiche-ouvrage ouvrage="op" on-click="dejaExistant(op)"></affiche-ouvrage>-->
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>